.navbar {
    display: flex;
    align-items: start;
}

#logo {
    text-decoration: none;
    align-items: center;
    top: 40px;
    font-size: 35px;
    color:rgb(172, 172, 172);
    font-weight: 700;
}

#logo strong {
    color: white;
}

#navbar {
    width: 100%;
    height: 80px;
    vertical-align: center;
}

#links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.links {
    text-decoration: none;
    margin-left: 20px;
}
