.navbar {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    max-width: 200px;
    height: 96.5%;
    text-decoration: none;
    background-color: #2b2b2b;
    padding-top: 25px;
    position: fixed;
}

#logo {
    text-decoration: none;
    width: 80%;
    font-size: 35px;
    color:#CCCCFF;
    font-weight: 800;
    margin-left: 10%;

}

#logo strong {
    color: #6591ff;
    font-weight: 800;
}


#logo:hover span,
#logo:hover strong {
  color: var(--text-color);
  transition: .1s ease-in-out;
}

#logo:hover span {
  --text-color: #6591ff;
}

#logo:hover strong {
  --text-color: #CCCCFF;
}

#links {
    list-style: none;
    margin-top: 120%;
}

#links li {
    margin: 45px auto;
    width: 70%;
}

.links {
    display: column;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
}

.links:hover {
  color: #6591ff;
  transition: 0.1s ease-in-out;
}

.logos{
  max-height: 25px;
  margin-left: 10%;
  bottom: 0;
}
